
    
    <div class="container is-fluid blogContainer">
      <div class = "columns">
        <div class = "column is-three-fifths is-offset-one-fifth">
          <article class="message">
            <div class="message-header">
              <p>
                {{post.title}}
              </p>
        
            </div>
            <div class="message-body">
              <p>
                  {{post.blog_body}}
              </p>
            </div>
          </article>

          {{#each post.comments}}
          <article class="message comments">
            <div class="message-header comment">
              <p>
              {{user.username}} commented on {{format_date created_at}}
            </p>
        
            </div>
            <div class="message-body text">
              <p>
                {{comment_text}}
                </p>
            </div>
            
          </article>
            {{/each}}

    
            <div class="field">
              <label class="label">Comment</label>
                <div class="control">
                  <textarea class="textarea comment-form" rows = "4" placeholder="Comment here"></textarea>
                </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <input class="button" type="submit" value="Submit"></input>
              </div>
              <div class="control">
                <a class="button is-link" href = "/">Go Back</a>
              </div>
            </div>
        </div>
      </div>
    </div>
