

{{!-- <section class="whole-page">
      <div class="container is-fluid">
        <div class="columns is-desktop">
          <div class="column is-narrow"> --}}

            <div class="container is-fluid">
            <div class="column is-12">
              <div class="columns is-multiline">
              <div class="column is-one-third">

          <!-- CARD 1 -->



                
                {{#each posts as |post|}}
                <div class="card blogCard">

                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src= {{filename}}
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">{{title}}</p>
                        <p class="subtitle is-6">{{user.username}}</p>
                      </div>
                    </div>

                    <div class="content">
                      {{description}}
                      <br />
                      <time> {{format_date_created_at}} </time>
                      <footer class="card-footer">
                        <a href="{{post_url}}" class="card-footer-item">Read Blog</a>
                      </footer>
                    </div>
                  </div>
                </div>    <!--END CARD-->
                {{/each}}
                
              </div>
                </div>
                </div> 

              </div>
          {{!-- </div>
        </div>
      </div>
    </section> --}}